<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Blog</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<div class="container fluid text-center">
			<h3>Welcome to Fatma's Blog</h3>
			<table style="width:80%" border="1" class = "table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Title</th>
						<th>Content</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post:${posts}">
							<td th:text="${post.title}"></td>
							<td th:text="${post.content}"></td>
							<td th:text="${post.tags}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add new blog</a>
		</div>
	</body>
</html>