<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Blog</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<div class="container fluid text-center">
			<h3>Welcome to my blog</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Content</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post:${posts}">
							<td th:text="${post.title}"></td>
							<td th:text="${post.content}"></td>
							<td th:text="${post.tags}"></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<a th:href="@{/posts/addNewPost}" class="btn btn-primary btn-sm mb-3">Create new post</a>
			</div>
		</div>
	</body>
</html>