<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="form-row justify-content-center">
                <p></p><p></p><p></p>
                <h3>Create new post</h3>
                <p></p>
            </div>
            <form action="#" th:action="@{/posts}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form1">Title</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" id="form1" th:field="${post.title}" class="form-control" placeholder="Write title here..."/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form2">Content</label>
                    </div>
                    <div class="form-group col-md-8">
                        <textarea class="form-control" th:field="${post.content}" id="form2" rows="8" placeholder="Write content here..."></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form3">Tags</label>
                    </div>
                    <div class="form-group col-md-8">
                        <div th:each="tag : ${tags}">
                            <input type="checkbox" th:id="${{tag}}" th:value="${{tag}}" th:field="${post.tags}" />
                            <label th:for="${{tag}}" th:text="${tag.name}">Tag</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="text-align: right;">
                    <button type="submit" value="save_post" class="btn btn-primary mb-4">Create new post</button>
                </div>
             </form>
        </div>
    </body>
</html>
