<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Tag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <p></p>
            <h2>Create new tag</h2>
            <form action="#" th:action="@{/tag}" th:object="${tag}" method="post">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Tags</label>
                    <textarea class="form-control" th:field="*{name}" id="form4Example3" rows="4" placeholder="Write tags here..."></textarea>
                </div>
                <button type="Create new post" class="btn btn-primary btn-block mb-4">Send</button>
            </form>
        </div>
    </body>
</html>
