<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <p></p>
            <h2>Update post</h2>
            <form action="#" th:action="@{/posts/update/{id}(id=${post.id})}" method="POST">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Title</label>
                    <input type="text" id="form4Example1" th:field="${post.title}" class="form-control" placeholder="Write title here..."/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Content</label>
                    <textarea class="form-control" th:field="${post.content}" id="form4Example2" rows="4" placeholder="Write content here..."></textarea>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Tags</label>
                    <textarea class="form-control" th:field="${post.tags}" id="form4Example3" rows="4" placeholder="Write tags here..."></textarea>
                </div>
                <div class="form-outline mb-4">
				    <a th:href="@{/tags/save}" name="save_tag" class="btn btn-primary btn-sm mb-3">Create new tag</a>
                </div>
                <button type="Update post" name="update_post" class="btn btn-primary btn-block mb-4">Update</button>
            </form>
        </div>
    </body>
</html>
