<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery/jquery-ui.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="form-row justify-content-center">
                <p></p><p></p><p></p>
                <h1>Update post</h1>
                <p></p>
            </div>
            <form action="#" th:action="@{/posts/update/{id}(id=${post.id})}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form1">Title</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" id="form1" th:field="${post.title}" class="form-control" placeholder="Write title here..."/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form2">Content</label>
                    </div>
                    <div class="form-group col-md-8">
                        <textarea class="form-control" th:field="${post.content}" id="form2" rows="15" placeholder="Write content here..."></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="form3">Tags</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" id="form3" th:field="${post.tags}" class="form-control" placeholder="Write tags here..."/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" name="save_post" class="btn btn-primary mb-4">Update post</button>
                </div>
             </form>
        </div>
    </body>
</html>

